<div class="row">
    <div class="col-xl-12 col-md-12">
        <h2 class="text-center">FAQ</h2>
        <div class="table table-bordered">
            <table width="100%" style="table-layout:fixed">
                <tr>
                    <th class="table-active" width="10%">글번호</th>
                    <td>@Model.FaqNo</td>
                    <th class="table-active" width="10%">카테고리</th>
                    <td>@Model.CategoryChoice</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">작성자</th>
                    <td>@Model.UserNo</td>
                    <th class="table-active" width="10%">작성일</th>
                    <td>@Model.Regdate</td>
                </tr>


                <tr>
                    <th class="table-active" width="10%">제목</th>
                    <td colspan="3">@Model.FaqTItle</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">글 내용</th>
                    <td colspan="3">@Html.Raw(Model.FaqAnswer)</td>
                </tr>
            </table>
        </div>
    </div>
</div>