<div class="row">
    <div class="col-xl-12 col-md-12">
        <h2 class="text-center">상품 목록</h2>
        <div class="table table-bordered">
            <table width="100%" style="table-layout:fixed">
                <tr>
                    <th class="table-active" width="10%">문의 번호</th>
                    <td>@Model.InquireNo</td>
                    <th class="table-active" width="10%">문의 날짜</th>
                    <td>@Model.QuestionDay</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">문의자</th>
                    <td>@Model.UserNo</td>
                    <th class="table-active" width="10%">작성시간</th>
                    <td>@Model.QuestionTime</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">답변 번호</th>
                    <td>@Model.AnswerNo</td>
                    <th class="table-active" width="10%">답변 날짜</th>
                    <td>@Model.AnswerDay</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">카테고리</th>
                    <td colspan="3">@Model.CategoryChoice</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">제목</th>
                    <td colspan="3">@Model.Title</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">문의 내용</th>
                    <td colspan="3">@Html.Raw(Model.Questions)</td>
                </tr>
                <tr>
                    <th class="table-active" width="10%">답변 내용</th>
                    <td colspan="3">@Html.Raw(Model.AnswerContent)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="form-group text-center">
    <a class="btn btn-secondary" asp-controller="Board" asp-action="OkAnswerList">뒤로가기</a>
</div>

