<div class="row">
    <div class="col-xl-12 col-md-12">
        <h2 class="text-center">주문번호 : @Model.OrderNo 번 주문의 상세 내역입니다.</h2>
        <div class="table table-bordered">
            <table width="100%" style="table-layout:fixed">
                <tr>
                    <th class="table-active" width="10%">주문 번호</th>
                    <td>@Model.OrderNo</td>
                    <th class="table-active" width="10%">주문 날짜</th>
                    <td>@Model.OrderDay</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">상품 번호</th>
                    <td>@Model.BoardNo</td>
                    <th class="table-active" width="10%">주문자</th>
                    <td>@Model.UserNo</td>
                </tr>


                <tr>
                    <th class="table-active" width="10%">제목</th>
                    <td colspan="3">@Model.BoardTitle</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">문의 내용</th>
                    <td colspan="3">@Html.Raw(Model.BoardContent)</td>
                </tr>
               
            </table>
        </div>
    </div>
</div>

<div class="form-group text-center">
    <a class="btn btn-secondary" asp-controller="Board" asp-action="OrderList">뒤로가기</a>
    <!--a class="btn btn-primary" asp-controller="Board" asp-action="OrderList">승인</a-->
</div>

