<div class="row">
    <div class="col-xl-12 col-md-12">
        <h2 class="text-center">회원 상세</h2>
        <div class="table table-bordered">
            <table width="100%" style="table-layout:fixed">
                <tr>
                    <th class="table-active" width="10%">유저번호</th>
                    <td>@Model.UserNo</td>
                    <th class="table-active" width="10%">아이디</th>
                    <td>@Model.UserId</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">유저이름</th>
                    <td>@Model.UserName</td>
                    <th class="table-active" width="10%">Email</th>
                    <td>@Model.UserEmail</td>
                </tr>

                <tr>
                    <th class="table-active" width="10%">가입일</th>
                    <td colspan="3">@Model.SignUpDay</td>
                </tr>
               
                <tr>
                    <th class="table-active" width="10%">자기소개</th>
                    <td colspan="3">@Html.Raw(Model.UserIntro)</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="form-group text-center">
    <a class="btn btn-secondary" asp-controller="Board" asp-action="UserEdit" asp-route-userNo="@Model.UserNo">수정</a>
    <a class="btn btn-secondary" onclick="return confirm('데이터에서 완전히 삭제됩니다. 정말 삭제하시겠습니까?')" asp-controller="Board" asp-action="UserDelete" asp-route-userNo="@Model.UserNo">삭제</a>
    <a class="btn btn-secondary" asp-controller="Board" asp-action="ViewMember">뒤로가기</a>
</div>
