@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Bootstrap4.NetCore;
@using Microsoft.AspNetCore.Http
@model X.PagedList.IPagedList<TestWebSIte.Models.User>

<h2>관리자용 고객 목록</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th width="10%">선택</th>
            <th width="15%">유저 번호</th>
            <th width="20%">아이디</th>
            <th width="15%">이름</th>
            <th width="20%">이메일</th>
            <th width="20%">가입날짜</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model)
        {
            <tr>
                <td width="10%"><input type="checkbox" name="userCheck" /></td>
                <td width="15%">@users.UserNo</td>
                <td width="20%"><a asp-controller="Board" asp-action="UserDetail" asp-route-userNo="@users.UserNo">@users.UserId</a></td>
                <td width="15%">@users.UserName</td>
                <td width="20%">@users.UserEmail</td>
                <td width="20%">@users.SignUpDay</td>
            </tr>
        }
    </tbody>
</table>

@*아따 힘들었따 ㄹㅇ - 페이징 처리 by BootStrap -> X.PagedList.Mvc.Core가 얼마전 업데이트되서 8.0.5로 받아버려서 적용이 안됫엇음ㅡㅡ*@
<div class="pagination">
    @Html.PagedListPager(Model, Page => Url.Action("ViewMember", new { Page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

<div>
    <a asp-controller="Board" asp-action="Add" class="btn btn-secondary">관리자용 상품 추가</a>
</div>